@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #393E46;
  color: #EEEEEE;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "burtons";
  src: url('../public/Burtons.otf');
}

.textMarmol{
color: #EEEEEE;
background-color: #222831;
}
.bigOrange{
  color: #00ADB5;
}
.bigGreen{
  color: #EEEEEE;
}
.bgGreen{
  background-color: #FCE38A;
}
.bgTransparent{
  background-color: #00ADB5;
}
.vertical-text {
  transform: rotate(90deg);
}

.bigInvert{
  background-color: #222831;
  color: #EEEEEE;
}

.textmovie{
  display: inline-flex;
  align-items: normal;
  background: url("https://media.giphy.com/media/unQ3IJU2RG7DO/giphy.gif");
  background-position: 0%;
  background-size: 20vw;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.engbg{
  background:url("/public/eng.png");
  background-color: #222831;
height: 80px;

}